.Specification {
    background: url("./img/section4bg.jpg") bottom center no-repeat, #023249;
    background-blend-mode: luminosity;
    background-size: cover;
   padding: 40px 0;

    .white-block {
        background: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 4px 20px 0px rgba(100, 101, 156, 0.09);
        border: 1px #e9ebef solid;
        text-align: center;
        padding: 40px 30px;
        margin: 10px 5px 20px 5px;
        @media (min-width: 991px) {
            min-height: 472px;
            margin-top: -80px;
        }

        & img {
            filter: hue-rotate(150deg);
        }
        .white-block_description {
            p {
                color: #313f4b;
                font-weight: 300;
                font-size: 16px;
                padding: 0;
                margin: 0;
                &:first-child {
                    font-weight: 700;
                    color: #2b292a;
                    text-transform: uppercase;
                    padding: 0;
                    margin: 30px 0;
                    font-size: 18px;
                    line-height: 1.1;
                }
            }
        }
    }
}